# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# SQLite database (optional)
database/*.db
database/*.sqlite

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# ngrok
.ngrok2/